run = "cd Black-Box-Project-Management-App && npm run dev"
entrypoint = "Black-Box-Project-Management-App/server/index.ts"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin:$PATH"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "cd Black-Box-Project-Management-App && npm run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
